appnope==0.1.0
asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
autopep8==1.4.3
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.1.5
beautifulsoup4==4.7.1
bleach==3.0.2
boto3==1.9.82
botocore==1.12.82
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
Click==7.0
configparser==3.5.0
cryptography==2.3.1
cycler==0.10.0
cymem==2.0.2
Cython==0.29.3
cytoolz==0.9.0.1
decorator==4.3.0
defusedxml==0.5.0
dill==0.2.8.2
docutils==0.14
EasyProcess==0.2.3
en-core-web-lg==2.0.0
en-core-web-sm==2.0.0
entrypoints==0.2.3
enum34==1.1.6
Fabric3==1.14.post1
fake-useragent==0.1.10
fastcluster==1.1.25
flake8==3.6.0
flake8-isort==2.6.0
Flask==1.0.2
flask-paginate==0.5.1
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.2.0
get==1.0.3
hdbscan==0.8.18
idna==2.6
ipaddress==1.0.22
ipykernel==4.10.0
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
ItsDangerous==1.0.0
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lxml==4.2.1
MarkupSafe==1.0
matplotlib==2.2.3
mccabe==0.6.1
Mini-AMF==0.9.1
mistune==0.8.4
mmh3==2.5.1
more-itertools==4.3.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
multiprocess==0.70.6.1
multiprocessing-logging==0.2.6
murmurhash==1.0.1
myawis==0.2.4
nbconvert==5.4.0
nbformat==4.4.0
nltk==3.3
notebook==5.7.0
numpy==1.16.0
pandas==0.23.4
pandocfilters==1.4.2
paramiko==2.4.2
pathlib==1.0.1
pathlib2==2.3.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
pipenv==2018.7.1
plac==0.9.6
pluggy==0.8.0
plyvel==1.0.5
post==1.0.2
preshed==2.0.1
prometheus-client==0.4.2
prompt-toolkit==1.0.15
psutil==5.4.8
ptyprocess==0.6.0
public==1.0.3
publicsuffix==1.1.0
py==1.7.0
pyarrow==0.11.1
pyasn1==0.4.5
pycodestyle==2.4.0
pycparser==2.19
pyflakes==2.0.0
Pygments==2.2.0
PyNaCl==1.3.0
pyOpenSSL==18.0.0
pyparsing==2.3.0
pytest==4.1.1
python-awis==1.2.1
python-dateutil==2.7.5
pytidylib6==0.2.2
pytz==2018.5
PyVirtualDisplay==0.2.1
pyzmq==17.1.2
qtconsole==4.4.3
query-string==1.0.2
regex==2018.1.10
request==1.0.2
requests==2.18.4
requests-file==1.4.3
s3fs==0.2.0
s3transfer==0.1.13
scandir==1.9.0
scikit-learn==0.20.0
scipy==1.1.0
selenium==3.6.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
soupsieve==1.7.2
spacy==2.0.18
subprocess32==3.5.3
tabulate==0.8.2
tblib==1.3.2
terminado==0.8.1
testfixtures==6.3.0
testpath==0.4.2
thinc==6.12.1
tld==0.9.2
tldextract==2.2.0
toolz==0.9.0
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
ujson==1.35
urllib3==1.22
virtualenv==16.0.0
virtualenv-clone==0.3.0
wcwidth==0.1.7
webcolors==1.8.1
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wrapt==1.10.11
xmltodict==0.11.0
