.container {
  max-width: 90%;
  display: block;
  margin-top:20;
}

.wrapurl {
  word-wrap: break-word;
  word-break: break-all;
  max-width: 30%;
  overflow: scroll;
}

table {
  table-layout: fixed; width: 100%;
}
